# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
venv/
env/
ENV/
.venv

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Ultralytics / YOLO Weights & Runs
runs/
yolo11n.pt
*.pt

# Output artifacts
*.log
